@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ABM</h1>
    <p>Mirá el ABM de <b>productos</b> <a href="../Productoes/Index">cliqueando acá</a>.</p>
    <p>Mirá el ABM de <b>negocios</b> <a href="../Negocios/Index">cliqueando acá</a>.</p>
    <p>Mirá como es el <b>frontend</b> <a href="../FrontEnd/Index">cliqueando acá</a></p>
</div>
